
#nameForm, #conditionForm{
  display: none;
}

.center {
  margin-top: 20px;
}

.center h1 {
  margin-bottom: 20px;
}

table, #nameForm, .center, #conditionForm {
  text-align: center;
}

tr, td, th {
  border: 2px solid black;
}
